$font-primary: 'Inter', sans-serif;
$font-secondary: 'Poppins', sans-serif;
$primary-color: rgb(230, 153, 164);
$secondary-color: rgb(90, 90, 90);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-primary;
}

.hero {
    background-color: $primary-color;
    min-height: 100vh;
    color: white;
    padding-inline: 200px;
    padding-top: 30px;

    .hero-header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo-img {
            width: 180px;
        }

        .contact-link {
            text-decoration: none;
            color: $secondary-color;
            font-size: large;
            font-weight: bold;
            background-color: white;
            padding: 10px 30px;
            border-radius: 5px;
        }
    }

    .hero-content {
        display: flex;
        margin-top: 70px;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
    }

    .hero-text {
        width: 60%;
    }

    .hero-form-container {
        width: 40%;
        display: flex;
        justify-content: end;
    }

    .hero-title {
        font-family: $font-secondary;
        font-size: 45px;
        line-height: 50px;
    }

    .hero-subtitle {
        margin-top: 20px;
    }

    .form {
        display: flex;
        flex-direction: column;
        background-color: white;
        color: $secondary-color;
        align-items: center;
        padding: 30px;
        width: 75%;
        border-radius: 10px;
        gap: 15px;

        .form-title {
            font-weight: bold;
            font-size: large;
            margin-bottom: 10px;
        }

        input {
            width: 90%;
            padding: 10px;
            border-radius: 3px;
            border: 1px solid $secondary-color;
        }

        textarea {
            width: 90%;
            height: 100px;
            border-radius: 3px;
            border: 1px solid $secondary-color;
            resize: none;
            padding: 10px;
        }

        button {
            width: 90%;
            padding: 10px;
            background-color: $secondary-color;
            color: white;
            border-radius: 3px;
            border: none;
            font-weight: bold;
            font-size: medium;
            box-shadow: 5px 5px 5px rgb(160, 160, 160);
            margin-top: 10px;

            &:hover {
                cursor: pointer;
            }
        }
    }
}

.about {
    min-height: 40vh;
    display: flex;
    gap: 60px;
    justify-content: center;
    align-items: center;
    padding: 80px 200px;

    .products-img {
        width: 450px;
        border-radius: 10px;
    }

    .about-text {
        width: 40%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        color: $secondary-color;
    }

    .about-title {
        font-family: $font-secondary;
    }
}

.services {
    min-height: 100vh;
    background-color: $primary-color;
    padding: 80px 200px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 60px;

    .services-benefits {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 60px;

        img {
            width: 40px;
        }
    }

    .services-title {
        font-family: $font-secondary;
    }

    .benefit {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .benefit-text {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    button {
        background-color: white;
        width: 30%;
        padding: 12px 10px;
        color: $secondary-color;
        border-radius: 5px;
        border: none;
        font-weight: bold;
        font-size: medium;

        &:hover {
            cursor: pointer;
        }
    }
}

.faq {
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    padding: 60px 200px 80px 200px;
    color: $secondary-color;
    align-items: center;
    gap: 40px;

    .faq-title {
        font-family: $font-secondary;
    }

    .faq-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .faq-question {
        border: 1px solid $secondary-color;
        padding: 15px 50px;
        border-radius: 5px;
        font-weight: 500;

        &:hover {
            cursor: pointer;
        }
    }
}

.footer-section {
    min-height: 80vh;
    background-color: $primary-color;
}